/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;    font-family: 'Roboto Condensed', sans-serif;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    border-bottom-style: solid ; color: #3a3a3a;
    box-shadow: 0 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    
 }

 h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    font-weight: 600;
    font-style: oblique;
 }

 #menu {
        font-size: 120%;
        list-style-type: none;
        letter-spacing: 2px;
        margin-top: 0.4em;
 }

 #menu > li {
    margin-bottom: 1em;

 }

 .active {
    border-bottom: 2px solid #252525;
}

/*Navbar Styles dropdown toggle*/
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    border-bottom-style: solid;
        color: #3a3a3a;
        box-shadow: 0 6px 6px;
        display: none;

}

/*Nav Toggle*/
#toggle:checked~nav {
display: block;

}

 header a {
    text-decoration: none;
    color: inherit;
 }

 #logo {
   
    border-radius: 50%;
    font-style: oblique;
     font-weight: bold;
    }



/*Main Content*/
main {
    background-color: rgb(0, 255, 255);
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    
    }


/*Footer*/
footer {
    background: rgb(194, 238, 127);
}

