/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Header*/
header {
    background-color: red;
    
 }

 #logo {
   
    border-radius: 50%;
    font-style: oblique;
     font-weight: bold;
    }



/*Main*/
main {
    background-color: rgb(0, 255, 255);
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    
    }


/*Footer*/
footer {
    background: rgb(194, 238, 127);
}

